<% content_for :page_title, t('.title') %>

<div class="row" style="margin-top:-30px; margin-bottom:20px;">
	<div class="col-md-12">
		<div class="alert alert-default text-muted">
			<p>Las estadísticas se obtienen de las predicciones hechas por todos los participantes de la quiniela.</p>
		</div>
	</div>
</div>

<div class="row" style="margin-bottom:15px">
	<div class="col-md-12">
		<ul class="nav nav-pills nav-pills-green">
			<li class="<%= 'active' if params[:pool].blank? %>"><%= link_to t(:filter_all), stats_path %></li>
			<% Pool.all.each do |pool| %>
				<li class="<%= 'active' if pool.id == params[:pool].to_i %>">
					<%= link_to pool.name, stats_path(pool: pool.id) %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<% last_play_at = Time.local( 1999, 1, 1 ) %>
		<% @games.each do |game| %>
		
			<% game_user_prediction = @user_predictions.where(game: game).first %>

			<% unless last_play_at.year == game.play_at.year && last_play_at.month == game.play_at.month && last_play_at.day == game.play_at.day %>
				<div class="row">
					<div class="col-md-12">
						<h3 class="pred-games-date"><%= l game.play_at, format: :full_condensed %></h3>
					</div>
				</div>
			<% end %>

			<div class="row">
				<div class="col-md-12">
					<div class="row pred-game-info">
						<div class="col-md-12">
							<span class="no-wrap">
								<%= l game.play_at, format: :hour %> - 
								<%= game.pool.present? ? tag_label(game.pool.name, :pool) : tag_label('ND', :default) %>
							</span>
						</div>
					</div>
					<div class="row pred-game-wrapper">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="pred-team-wrapper">
								<%= image_tag("flags/#{game.home_team.image}") %>
							</div>
						</div>

						<div class="col-md-8 col-sm-8 col-xs-8">
							<div class="pred-graph">
								<div class="pred-graph-home text-left" style="width:<%= odds_for_home_team(game) %>%; <%= "height:auto" if odds_for_home_team(game).floor > 0 %>">
									&nbsp;&nbsp; <%= game.home_team.name %> (<%= odds_for_home_team(game) %>%)
								</div>
								<div class="pred-graph-draw text-center" style="width:<%= odds_for_draw_game(game) %>%; <%= "height:auto" if odds_for_draw_game(game).floor > 0 %>">
									<%= t('.draw') %> (<%= odds_for_draw_game(game) %>%)
								</div>
								<div class="pred-graph-visitor text-right" style="width:<%= odds_for_visitor_team(game) %>%; <%= "height:auto" if odds_for_visitor_team(game).floor > 0 %>">
									(<%= odds_for_visitor_team(game) %>%) <%= game.visitor_team.name %> &nbsp;&nbsp;
								</div>
								<div style="clear:both;"></div>
							</div>
							<p class="text-center" style="margin-top:7px">
								<%= link_to t('.view_all_predictions'), game_predictions_path(game), class: 'btn btn-link btn-xs' %>
							</p>
							
						</div>

						<div class="col-md-2 col-sm-2 col-xs-2 text-right">
							<p class="pred-team-wrapper">
								<%= image_tag("flags/#{game.visitor_team.image}") %>
							</p>
						</div>
					</div>
					
				</div>
				
			</div>	

			<% last_play_at = game.play_at %>
		<% end %>
		<% if @games.blank? %>
			<p class="text-center text-muted"><%= t('info.no_games') %></p>
		<% end %>
	</div>
</div>