<h1>Listing team_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_groups.each do |team_group| %>
      <tr>
        <td><%= team_group.name %></td>
        <td><%= link_to 'Show', team_group %></td>
        <td><%= link_to 'Edit', edit_team_group_path(team_group) %></td>
        <td><%= link_to 'Destroy', team_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team group', new_team_group_path %>
