<div class="row login-box">
	<div class="col-md-12 text-center">
		<p><%= image_tag('soccerbet_logo.png', alt: "SoccerBet", class: "img-responsive logo-login") %></p>
		<p class="lead"><%= t(:site_name) %></p>
		
		<%= devise_error_messages! %>
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-left">
				<p class="lead"><%= t('forgot_pass.title') %></p>
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<div class="form-group">
						<%= f.label :email, t('forgot_pass.email') %>
						<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "" %>
					</div>
					<%= f.submit t('forgot_pass.submit'), class: 'btn btn-success' %>
				<% end %>
				
				<div class="row" style="margin-top:20px">
					<div class="col-md-12">
						<%= link_to new_user_session_path do %>
							<i class="fa fa-arrow-left"></i> <%= t('sign_up.login') %>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>